{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <style>
    tr:nth-child(2n){
        background: rgba(154, 207, 234, 0.57);
    }
    </style>
{% endblock %}

{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Дашборд
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <canvas id="allLogs"></canvas>
                </div>
                <div class="col-md-4">
                    <canvas id="eventsPerLevel"></canvas>
                </div>
                <div class="col-md-4">
                    <canvas id="eventsPerDay"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Активные события</h2>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Уровень</th>
                            <th scope="col">Название</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in EVENTS %}
                            <tr>
                                <th scope="row">{{ row.id }}</th>
                                <td>{{ row.created_at }}</td>
                                <td>{{ row.get_level_display }}</td>
                                <td>{{ row.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'js/chart.js' %}"></script>
    <script>


        const labels2 = {{ALL_LOGS_DAYS|safe}};
        const data2 = {
            labels: labels2,
            datasets: [
                {
                    label: 'Auth',
                    data: {{ ALL_LOGS_AUTH| safe }},
                    backgroundColor: 'blue',
                },
                {
                    label: 'Cd rom',
                    data: {{ ALL_LOGS_CD_ROM| safe }},
                    backgroundColor: 'red',
                },
                {
                    label: 'USB storage',
                    data: {{ ALL_LOGS_USB_STORAGE| safe }},
                    backgroundColor: 'green',
                },
                {
                    label: 'Network',
                    data: {{ ALL_LOGS_NETWORK| safe }},
                    backgroundColor: 'orange',
                },
            ]
        };
        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Сбор логов в день по типам'
                    },
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        };
        var allLogs = new Chart(
            document.getElementById('allLogs'),
            config2
        );
        const data1 = {
            labels: {{ ALL_EVENTS_BY_TYPE_NAMES|safe }},
            datasets: [
                {
                    label: 'Dataset 1',
                    data: {{ ALL_EVENTS_BY_TYPE_VALUES|safe }},
                    backgroundColor: Object.values(['MediumSeaGreen', 'Goldenrod', 'OrangeRed',]),
                }
            ]
        };
        const config1 = {
            type: 'pie',
            data: data1,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'События по типам'
                    }
                }
            },
        };
        var eventsPerLevel = new Chart(
            document.getElementById('eventsPerLevel'),
            config1
        );


        const labels = {{ ALL_EVENTS_DAYS|safe }};
        const data = {
            labels: labels,
            datasets: [{
                label: 'Количество событий безопасности за неделю',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ ALL_EVENTS_VALUES|safe }},
            }]
        };
        const config = {
            type: 'line',
            data,
            options: {}
        };
        // === include 'setup' then 'config' above ===


        var eventsPerDay = new Chart(
            document.getElementById('eventsPerDay'),
            config
        );
    </script>
{% endblock %}

